In [2]:
import boto3
import pandas as pd
from io import StringIO,BytesIO
from datetime import datetime,timedelta

In [3]:
ACCESS_ID= "AKIAUJXHRVQGZRXQEXHF"
ACCESS_KEY= "JtQElkRbeTuH37601KFfrFhR2kEre/D8Q6o8+KtQ"

In [4]:
s3 = boto3.resource('s3',aws_access_key_id=ACCESS_ID,
         aws_secret_access_key= ACCESS_KEY)

In [5]:
bucket = s3.Bucket('deutsche-boerse-xetra-pds')

In [9]:
arg_date = '2021-09-22'
arg_date_dt = datetime.strptime(arg_date,'%Y-%m-%d').date()-timedelta(days=1)
arg_date_dt

datetime.date(2021, 9, 21)

In [11]:
objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split('/')[0],'%Y-%m-%d').date() >= arg_date_dt]

In [12]:
csv_obj_init = bucket.Object(key=objects[0].key).get().get('Body').read().decode('utf-8')
data_init=StringIO(csv_obj_init)
df_init = pd.read_csv(data_init,delimiter=',')

In [13]:
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [14]:
df_all = pd.DataFrame(columns=df_init.columns)
for obj in objects:
    csv_obj = bucket.Object(key=obj.key).get().get('Body').read().decode('utf-8')
    data=StringIO(csv_obj)
    df = pd.read_csv(data,delimiter=',')
    df_all = df_all.append(df,ignore_index=True)

In [15]:
df_all.describe

<bound method NDFrame.describe of                ISIN Mnemonic               SecurityDesc  SecurityType  \
0      DE0005104400      AOF          ATOSS SOFTWARE AG  Common stock
1      DE000A3H2200      NA9        NAGARRO SE  NA O.N.  Common stock
2      DE0005550636     DRW3       DRAEGERWERK VZO O.N.  Common stock
3      DE000A0HN5C6     DWNI     DEUTSCHE WOHNEN SE INH  Common stock
4      DE000BFB0019      B4B         METRO AG   ST O.N.  Common stock
...             ...      ...                        ...           ...
86892  US0846707026     BRYN  BERKSH. H.B NEW DL-,00333  Common stock
86893  DE0007030009      RHM             RHEINMETALL AG  Common stock
86894  DE0007165607      SRT          SARTORIUS AG O.N.  Common stock
86895  LU1841731745     L4K3        MUL-LYX.MSCI CN DLA           ETF
86896  IE00BKBF6H24     IWLE  ISHSIII-CORE MSCI WLD EHD           ETF

      Currency SecurityID        Date   Time  StartPrice  MaxPrice  MinPrice  \
0          EUR    2504882  2021-09-21  07:00     179.200   179.200   179.200
1          EUR    5906903  2021-09-21  07:00     155.000   155.000   154.500
2          EUR    2504952  2021-09-21  07:00      69.900    69.900    69.900
3          EUR    2504314  2021-09-21  07:00      52.940    52.960    52.920
4          EUR    2532386  2021-09-21  07:00      10.900    10.900    10.870
...        ...        ...         ...    ...         ...       ...       ...
86892      EUR    2506447  2021-09-21  14:35     233.400   233.400   233.400
86893      EUR    2505071  2021-09-21  14:35      79.740    79.740    79.740
86894      EUR    2505078  2021-09-21  14:35     659.000   659.000   659.000
86895      EUR    3957038  2021-09-21  14:35      18.906    18.906    18.906
86896      EUR    4128824  2021-09-21  14:35       7.105     7.105     7.105

       EndPrice TradedVolume NumberOfTrades
0       179.200           91              1
1       154.500          943              3
2        69.900          220              1
3        52.920        51506             17
4        10.900         3925              8
...         ...          ...            ...
86892   233.400           95              2
86893    79.740            1              1
86894   659.000           18              2
86895    18.906           29              1
86896     7.105            1              1

[86897 rows x 14 columns]>

In [16]:
cols_for_report = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume']

In [17]:
df_all = df_all.loc[:,cols_for_report]

In [18]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,DE0005104400,2021-09-21,07:00,179.200,179.200,179.200,179.200,91
1,DE000A3H2200,2021-09-21,07:00,155.000,155.000,154.500,154.500,943
2,DE0005550636,2021-09-21,07:00,69.900,69.900,69.900,69.900,220
3,DE000A0HN5C6,2021-09-21,07:00,52.940,52.960,52.920,52.920,51506
4,DE000BFB0019,2021-09-21,07:00,10.900,10.900,10.870,10.900,3925
...,...,...,...,...,...,...,...,...
86892,US0846707026,2021-09-21,14:35,233.400,233.400,233.400,233.400,95
86893,DE0007030009,2021-09-21,14:35,79.740,79.740,79.740,79.740,1
86894,DE0007165607,2021-09-21,14:35,659.000,659.000,659.000,659.000,18
86895,LU1841731745,2021-09-21,14:35,18.906,18.906,18.906,18.906,29
86896,IE00BKBF6H24,2021-09-21,14:35,7.105,7.105,7.105,7.105,1

In [19]:
df_all.isnull().sum()

ISIN            0
Date            0
Time            0
StartPrice      0
MaxPrice        0
MinPrice        0
EndPrice        0
TradedVolume    0
dtype: int64

# GET OPENING PRICE PER ISIN PER DAY

In [20]:
df_all["OpeningPrice"] = df_all.sort_values(by=["Time"]).groupby(["ISIN","Date"])["StartPrice"].transform('first')

In [21]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,OpeningPrice
0,DE0005104400,2021-09-21,07:00,179.200,179.200,179.200,179.200,91,179.200
1,DE000A3H2200,2021-09-21,07:00,155.000,155.000,154.500,154.500,943,155.000
2,DE0005550636,2021-09-21,07:00,69.900,69.900,69.900,69.900,220,69.900
3,DE000A0HN5C6,2021-09-21,07:00,52.940,52.960,52.920,52.920,51506,52.940
4,DE000BFB0019,2021-09-21,07:00,10.900,10.900,10.870,10.900,3925,10.900
...,...,...,...,...,...,...,...,...,...
86892,US0846707026,2021-09-21,14:35,233.400,233.400,233.400,233.400,95,234.750
86893,DE0007030009,2021-09-21,14:35,79.740,79.740,79.740,79.740,1,79.800
86894,DE0007165607,2021-09-21,14:35,659.000,659.000,659.000,659.000,18,669.000
86895,LU1841731745,2021-09-21,14:35,18.906,18.906,18.906,18.906,29,18.850
86896,IE00BKBF6H24,2021-09-21,14:35,7.105,7.105,7.105,7.105,1,7.108

# GET CLOSING PRICE PER ISIN PER DAY

In [22]:
df_all["ClosingPrice"] = df_all.sort_values(by=["Time"]).groupby(["ISIN","Date"])["EndPrice"].transform('last')

In [23]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,OpeningPrice,ClosingPrice
0,DE0005104400,2021-09-21,07:00,179.200,179.200,179.200,179.200,91,179.200,182.400
1,DE000A3H2200,2021-09-21,07:00,155.000,155.000,154.500,154.500,943,155.000,156.000
2,DE0005550636,2021-09-21,07:00,69.900,69.900,69.900,69.900,220,69.900,69.950
3,DE000A0HN5C6,2021-09-21,07:00,52.940,52.960,52.920,52.920,51506,52.940,52.940
4,DE000BFB0019,2021-09-21,07:00,10.900,10.900,10.870,10.900,3925,10.900,11.105
...,...,...,...,...,...,...,...,...,...,...
86892,US0846707026,2021-09-21,14:35,233.400,233.400,233.400,233.400,95,234.750,233.400
86893,DE0007030009,2021-09-21,14:35,79.740,79.740,79.740,79.740,1,79.800,79.740
86894,DE0007165607,2021-09-21,14:35,659.000,659.000,659.000,659.000,18,669.000,659.000
86895,LU1841731745,2021-09-21,14:35,18.906,18.906,18.906,18.906,29,18.850,18.906
86896,IE00BKBF6H24,2021-09-21,14:35,7.105,7.105,7.105,7.105,1,7.108,7.105

# AGGREGATIONS

In [24]:
df_all = df_all.groupby(['ISIN','Date'],as_index=False).agg(openingprice_eur = ('OpeningPrice','min'),closingprice_eur = ('ClosingPrice','min'),high_eur=('MaxPrice','max'),low_eur=('MinPrice','min'),volume=('TradedVolume','sum'))

In [25]:
df_all

,ISIN,Date,openingprice_eur,closingprice_eur,high_eur,low_eur,volume
0,AT00000FACC2,2021-09-21,9.010,9.0000,9.1400,8.920,6323
1,AT0000606306,2021-09-21,21.240,21.4000,21.4000,21.240,103
2,AT0000644505,2021-09-21,101.000,101.0000,102.2000,100.800,101
3,AT0000652011,2021-09-21,35.070,35.1800,35.2200,35.070,990
4,AT0000720008,2021-09-21,7.370,7.3700,7.3700,7.370,20
...,...,...,...,...,...,...,...
2781,XS2265369731,2021-09-21,7.874,8.1180,8.1965,7.874,4800
2782,XS2265370234,2021-09-21,16.204,16.5810,16.5810,16.161,1300
2783,XS2284324667,2021-09-21,31.136,30.6420,31.1360,30.642,3430
2784,XS2314659447,2021-09-21,7.675,7.7305,7.7305,7.675,0
2785,XS2314660700,2021-09-21,15.942,16.2510,16.2510,15.942,0

# WRITE TO S3

In [28]:
key = "xetra_daily_report"+datetime.today().strftime("%Y-%m-%d_%H:%M:%S")+ '.parquet'
key

'xetra_daily_report2021-09-22_16:46:34.parquet'

In [29]:
out_buffer = BytesIO()
df_all.to_parquet(out_buffer,index=False)
bucket_target = s3.Bucket('xetra1234')
bucket_target.put_object(Body=out_buffer.getvalue(),Key=key)

s3.Object(bucket_name='xetra1234', key='xetra_daily_report2021-09-22_16:46:34.parquet')